<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="loan_department">
  <listeners>
    <listener class-name="org.symfonycasts.listeners.DefaultListeners"></listener>
  </listeners>
  <test name="Personal_loan">
    <classes>
      <class name="org.symfonycasts.tests.chickensFeedTest"/>
      <class name="org.symfonycasts.tests.UnlockTheBarnTest"/>
      <class name="org.symfonycasts.tests.toiletSeatDownTest"/>
    </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
